<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="mainClass">
    <h1>
      <%= title %>
    </h1>
    <h2>Welcome to <%= title %>
    </h2>
    <hr>
    <div class="Text">
      <% messages.forEach((item)=>{%>
        <P>
          <%=item.text %>
        </P>
        <h3>
          <%=item.user %>
        </h3>
        <h5>
          <%=item.added %>
        </h5>
        <hr>
        <%})%>
    </div>
    <!-- <button><a href="http://localhost:3000/new">add new Text</a></button> -->

    <button onclick="addNew(event)">Add new messages</button>
  </div>

</body>
<script>
  const addNew = e => {
    window.location.href = '/new'
  }
</script>

</html>